<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">HEA</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>

    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">

        <mat-nav-list>
            <!-- Home -->
            <mat-list-item class="parent">
                <mat-icon mat-list-icon>home</mat-icon>
                <a class="full-width" [routerLink]="['/hea', {outlets: {mainContent: ['about'] } }]">Home</a>
            </mat-list-item>
            <!-- Home -->

            <!-- Parametrics -->
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Params</span>
                <mat-icon mat-list-icon>construction</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item [routerLink]="['/hea', {outlets: {mainContent: ['products'] } }]">Products</a>

                <a mat-list-item [routerLink]="['/hea', {outlets: {mainContent: ['labels'] } }]">Labels</a>
                <a mat-list-item [routerLink]="['/hea', {outlets: {mainContent: ['brands'] } }]">Brands</a>
                <a mat-list-item
                [routerLink]="['/hea', {outlets: {mainContent: ['measurementUnits'] } }]">Measurement Units</a>
                <a mat-list-item [routerLink]="['/hea', {outlets: {mainContent: ['shippingTypes'] } }]">Shipping Types</a>
                <a mat-list-item [routerLink]="['/hea', {outlets: {mainContent: ['productAttributes'] } }]">Product Attributes</a>
            </div>
            <!-- Parametrics -->

        </mat-nav-list>

        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <router-outlet name="mainContent"></router-outlet>
    </div>

</mat-sidenav-container>