.mat-dialog-title {
    font-size       : 16px;
}

.container {
    display            : grid;
    width              : 100%;
    height             : 100%;
    grid-template-areas: 
        "label-1 label-1 value-1"
        "label-2 label-2 value-2"
        "label-3 label-3 value-3"
        "label-4 label-4 value-4"
        "label-5 label-5 value-5"
        "label-6 label-6 value-6"
        "label-7 label-7 value-7"
        "label-8 label-8 value-8"
        "label-9 label-9 value-9"
        "label-10 label-10 value-10"
        "label-11 label-11 value-11"
        "label-12 label-12 value-12";
    grid-template-columns: 120px 1fr 3fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}

.label-1 {
    grid-area: label-1;
    align-self: center;
}
.value-1 {
    grid-area: value-1;
    align-self: center;
}

.label-2 {
    grid-area: label-2;
    align-self: center;
}
.value-2 {
    grid-area: value-2;
    align-self: center;
}

.label-3 {
    grid-area: label-3;
    align-self: center;
}
.value-3 {
    grid-area: value-3;
    align-self: center;
}

.label-4 {
    grid-area: label-4;
    align-self: center;
}
.value-4 {
    grid-area: value-4;
    align-self: center;
}

.label-5 {
    grid-area: label-5;
    align-self: center;
}
.value-5 {
    grid-area: value-5;
    align-self: center;
}

.label-6 {
    grid-area: label-6;
    align-self: center;
}
.value-6 {
    grid-area: value-6;
    align-self: center;
}

.label-7 {
    grid-area: label-7;
    align-self: center;
}
.value-7 {
    grid-area: value-7;
    align-self: center;
}

.label-8 {
    grid-area: label-8;
    align-self: center;
}
.value-8 {
    grid-area: value-8;
    align-self: center;
}

.label-9 {
    grid-area: label-9;
    align-self: center;
}
.value-9 {
    grid-area: value-9;
    align-self: center;
}

.label-10 {
    grid-area: label-10;
    align-self: center;
}
.value-10 {
    grid-area: value-10;
    align-self: center;
}

.label-11 {
    grid-area: label-11;
    align-self: center;
}
.value-11 {
    grid-area: value-11;
    align-self: center;
}

.label-12 {
    grid-area: label-12;
    align-self: center;
}
.value-12 {
    grid-area: value-12;
    align-self: center;
}
