<mat-card>

  <div mat-dialog-title class="mat-dialog-title">Add PRODUCT</div>

  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Sku" formControlName="sku" required>

        <mat-error *ngIf="skuField.errors && skuField.touched && skuField.hasError('required')">
          Please fill this field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        <mat-hint align="end">{{descriptionField.value.length}} / 200</mat-hint>

        <mat-error *ngIf="descriptionField.errors && descriptionField.touched && descriptionField.hasError('required')">
          Please fill this field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Short description" formControlName="shortDescription" required>
        <mat-hint align="end">{{shortDescriptionField.value.length}} / 100</mat-hint>

        <mat-error
          *ngIf="shortDescriptionField.errors && shortDescriptionField.touched && shortDescriptionField.hasError('required')">
          Please fill this field.
        </mat-error>
        <mat-error
          *ngIf="shortDescriptionField.errors && shortDescriptionField.touched && shortDescriptionField.hasError('minlength')">
          Minimum characters are required.
        </mat-error>

      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent" class="example-full-width">
        <mat-label>About</mat-label>
        <textarea matInput placeholder="About this" formControlName="about"></textarea>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Bar code" formControlName="barCode">
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Minimum stock" formControlName="minimunStock">

        <mat-error
          *ngIf="minimunStockField.errors && minimunStockField.touched && minimunStockField.hasError('required')">
          Please fill this field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Critical stock" formControlName="criticalStock">
        <mat-error
          *ngIf="criticalStockField.errors && criticalStockField.touched && criticalStockField.hasError('required')">
          Please fill this field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Maximun stock" formControlName="maximunStock">
        <mat-error
          *ngIf="criticalStockField.errors && criticalStockField.touched && criticalStockField.hasError('required')">
          Please fill this field.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Brand</mat-label>
        <mat-select placeholder="Brand" formControlName="brandID">
          <mat-option *ngFor="let brand of brands" [value]="brand.id">
            {{brand.shortDescription}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="brandIDField.errors && brandIDField.touched && brandIDField.hasError('required')">
          Please fill this field.
        </mat-error>

      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field color="accent">
        <input matInput placeholder="Ex. file.jpg" formControlName="image">
      </mat-form-field>
    </div>

    <div class="item">
      <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
    </div>

    <!-- action buttons-->
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!form.valid">Save</button>
      <button mat-button (click)="closeClick()" tabindex="-1">Cancel</button>
    </div>
  </form>

</mat-card>