<div class="container">
  <h3 mat-dialog-title>BRAND ID: {{data.brand.id}}</h3>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <table>
      <tr>
        <td>
          <mat-label>DESCRIPTION:</mat-label>
        </td>
        <td>
          {{data.brand.description}}
        </td>
      </tr>

      <tr>
        <td>
          <mat-label>SHORT DESCRIPTION:</mat-label>
        </td>
        <td>
          {{data.brand.shortDescription}}
        </td>
      </tr>

      <tr>
        <td>
          <mat-label>ENABLED:</mat-label>
        </td>
        <td>
          <div *ngIf="data.brand.enabled then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><span class="material-icons">check</span></ng-template>
          <ng-template #elseBlock><span class="material-icons">close</span></ng-template>
        </td>
      </tr>

      <tr>
        <td>
          <mat-label>CREATED AT:</mat-label>
        </td>
        <td>
          {{data.brand.created | date: 'dd/MM/yyyy'}}
        </td>
      </tr>
    </table>
  </mat-dialog-content>

  <div mat-dialog-actions *ngIf="data.isDeleteMode then deleteModeBlock else viewBlock"></div>

  <ng-template #deleteModeBlock>
    <button mat-button (click)="deleteClick()">Delete</button>
    <button mat-button (click)="closeClick()">Close</button>
  </ng-template>
  <ng-template #viewBlock>
    <button mat-button (click)="closeClick()">Close</button>
  </ng-template>

</div>